body{
    background-color: #efefef;
}
.main{
    margin: 40px;
    background-color: white;
}
.btn-publish{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    width: 55px;
    height: 55px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}