body{
    background-color: #efefef;
}
.main{
    margin: 40px;
    background-color: white;
}
.btn-publish{
    margin-bottom: 15px;
    float: right;
}
.media-object{
    width: 55px;
    height: 55px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-left: 5px;
}
.question-related{
    font-size: 13px;
    padding-left: 5px;
    list-style: none;
    line-height: 20px;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;
}
.community-menu{
    color: #999;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    margin-left: 12px;
}
.jumbotron{
    margin-left: 80px;
    margin-top: 30px;
}
.comment{
    margin: 12px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 12px;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.comment_sp{
    margin-top: 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover{
    color: #499ef3;
}
.menu .icon{
    margin-right: 7px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
.menu .active{
    color: #499ef3;
}
