<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 — 麻将社区</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/community.css" type="text/css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）</label>
                        <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="问题标题...">
                    </div>
                    <div class="form-group">
                        <label for="description">问题补充（必填，参照右侧提示）</label>
                        <textarea class="form-control" name="description" th:text="${description}" id="description" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以逗号分隔">
                    </div>
                    <div class="container-fluid main ">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                     th:text="${error}" th:if="${error!=null}">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn btn-success btn-publish">发布</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <br>
                <h3>问题发布指南</h3>
                <br>
                *问题标题：语言描述不超过25个字。<br>
                *问题补充：确保问题清晰,并提供一些相关资料。<br>
                    注意阅读格式友好<br>
                    补充完整的异常及错误信息<br>
                *选择标签：选择一个或者多个合适的标签，以逗号分隔，不超过10个字。<br>
            </div>
        </div>
    </div>
</body>
</html>