<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>视频教程</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/community.css" type="text/css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css" type="text/css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h2></h2>

        </div>
    </div>
</div>
<div style="padding: 15px 25%;" th:insert="~{footer :: foot}"></div>
</body>
</html>